{%load static%}
<footer >
  <div class="footer__area grey-bg pt-100">
      <div class="footer__top pb-45">
          <div class="container">
              <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 pr-0">
                      <div class="footer__widget mb-45 wow fadeInUp" data-wow-delay=".2s">
                          <div class="footer__widget-title mb-30">
                              <div class="logo">
                                  <img src="{% static "assets/img/icon/brand/trianlge.png" %}" alt=""><h3>MoPD</h3>
                              </div>
                          </div>
                          <div class="footer__widget-content">
                              <p> This analysis tool is designed to provide insights</p>
                              <div class="footer__img">
                                  <img src="{% static "assets/img/footer/footer-img-1.png" %}" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-2 offset-xl-1 col-lg-2 offset-lg-1 col-md-4 col-sm-6">
                      <div class="footer__widget footer__widget-3 mb-45 wow fadeInUp" data-wow-delay=".4s">
                          <div class="footer__widget-title">
                              <h4>Company</h4>
                          </div>
                          <div class="footer__widget-content">
                              <div class="footer__links">
                                  <ul>
                                      <li><a href="#">About</a></li>
                                      <li><a href="#">profile</a></li>
                                      <li><a href="#">Contact Us</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-2 offset-xl-1 col-lg-2 offset-lg-1 col-md-4 col-sm-6">
                      <div class="footer__widget mb-45 wow fadeInUp" data-wow-delay=".6s">
                          <div class="footer__widget-title">
                              <h4>Resources</h4>
                          </div>
                          <div class="footer__widget-content">
                              <div class="footer__links">
                                  <ul>
                                    
                                      <li><a href="#">Contact Us</a></li>
                                     <li><a href="#">evalute data</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3  col-lg-3 col-md-4 col-sm-6">
                      <div class="footer__widget footer__widget-3 mb-45  ml-70 wow fadeInUp" data-wow-delay=".8s">
                          <div class="footer__widget-title">
                              <h4>Information</h4>
                          </div>
                          <div class="footer__widget-content">
                              <div class="footer__info mb-35">
                                  <ul>
                                      <li>
                                      <div class="icon">
                                          <i class="fal fa-map-marker-alt"></i>
                                      </div>
                                      <div class="text theme-color">
                                          <span> 6kilo <br>
                                              Ethiopia, AA</span>
                                      </div>
                                  </li>
                                      <li>
                                          <div class="icon theme-color ">
                                              <i class="fal fa-envelope"></i>
                                          </div>
                                          <div class="text theme-color ">
                                              <span>info@mopd.gov.et</span>
                                          </div>
                                      </li>
                                      <li>
                                          <div class="icon theme-color">
                                              <i class="fas fa-phone-alt"></i>
                                          </div>
                                          <div class="text theme-color">
                                              <span><a href="tel:(+642)-394-396-432">0111403049</a></span>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                              <div class="footer__social theme-social">
                                  <ul>
                                      <li>
                                          <a href="#">
                                              <i class="fab fa-facebook-f"></i>
                                              <i class="fab fa-facebook-f"></i>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">
                                              <i class="fab fa-twitter"></i>
                                              <i class="fab fa-twitter"></i>
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">
                                              <i class="fab fa-vimeo-v"></i>
                                              <i class="fab fa-vimeo-v"></i>
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer__copyright-3">
          <div class="container">
              <div class="footer__copyright-inner">
                  <div class="row align-items-center">
                      <div class="col-xl-12">
                          <div class="footer__copyright-text text-center">
                              <p>Copyright © MOPD</span></strong>. All Rights Reserved <a href="index.html"></a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>