{%load static%}
<html lang="en">
  {% include 'base/includes/head.html'%}
  <body>
    <!--Navbar Start-->
    {% include 'base/includes/navbar.html'%}
    <!--Navbar End-->
    <main>
      <section class="contact-fluid">
          <div class="container-fluid p-0">
              <div class="row no-gutters">
                  <div class="col-xl-12">
                      <div class="contact__map">
                        
                          <div class="contact__wrapper d-md-flex justify-content-between " data-wow-delay=".3s">
                              <div class="contact__info mr-100">
                                  <h3>Get in touch</h3>
                                  <ul>
                                      <li>
                                          <h4>Address</h4>
                                          <p>
                                            6kilo
                                            Ethiopia,Addis Ababa</p>
                                      </li>
                                      <li>
                                          <h4>call us</h4>
                                          <p><a href="tel:111403049">0111403049</a></p>
                                          
                                      </li>
                                      <li>
                                          <h4>Email Address</h4>
                                          <p><a href="https://wphix.com/cdn-cgi/l/email-protection#2a63444c456a4f524b475a464f04494547"><span class="__cf_email__" data-cfemail="f7be999198b7928f969a879b92d994989a">info@mopd.gov.et</span></a></p>
                                      </li>
                                  </ul>
                              </div>
                              <div class="contact__form">
                                  <form action="#">
                                      <input type="text" placeholder="topic">
                                      <textarea placeholder="Your Message"></textarea>
                                      <button type="submit" class="z-btn">Send Message</button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- contact area end -->

  </main>
 <!-- End Contact Section -->
    
   
    {% include 'base/includes/footer_js.html'%}
  </body>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</html>