{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "base/includes/head.html" %}
    <style>
        .scrollable {
          max-height: 500px;
          /* replace 500px with your desired maximum width */
          overflow-y: auto;
          /* enable 
          horizontal scrolling */
        }
    
    
        .vertical-text {
          writing-mode: vertical-rl;
          transform: rotate(180deg);
          text-orientation: sideways-right;
          white-space: nowrap;
          width: 100%;
          text-align: center;
        }
    
      </style>
</head>

<body class="justify-content-center overflow-auto">
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
                <div class="object" id="object_five"></div>
                <div class="object" id="object_six"></div>
                <div class="object" id="object_seven"></div>
                <div class="object" id="object_eight"></div>
            </div>
        </div>
    </div>

    <div class="scroll-up" id="scroll" style="display: none;">
        <a href="javascript:void(0);"><i class="fas fa-level-up-alt"></i></a>
    </div>

   <div style="margin-bottom:50px"> {% include "base/includes/navbar.html" %} </div>

   
    <div class="content-wrapper border container-fluid" style="padding-bottom:100px">
        <!-- TItle Start-->
        <div class="content-header">
            <div class="container-fluid">

                <div class="row align-middle justify-content-center">
                    <div class="col-lg-8">
                        <form>
                            <div class="col-12 d-flex align-items-center">
                                <input type="text" name="q" class="form-control m-2 d-block"
                                    placeholder="Enter Key Indicator name">
                                <button class="btn btn-primary rounded-circle"> <i
                                        class="fas fa-search "></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-1">

                    <div class="col-md-3">
                        <!-- Filter Data  Accordion Start-->
                        <div class="accordion" id="FilterData">


                            <!-- Topic Lists-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTopic">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTopic" aria-expanded="true"
                                        aria-controls="collapseTopic">
                                        Topic
                                    </button>
                                </h2>
                                <div id="collapseTopic" class="accordion-collapse collapse show"
                                    aria-labelledby="headingTopic" data-bs-parent="#FilterData">
                                    <div class="accordion-body">

                                        <div id="topicListParent" class="row scrollable">

                                        </div>


                                    </div>
                                </div>
                            </div>


                            <!-- Category Lists-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingCategory">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapsCategory"
                                        aria-expanded="false" aria-controls="collapsCategory">
                                        Category
                                    </button>
                                </h2>
                                <div id="collapsCategory" class="accordion-collapse collapse"
                                    aria-labelledby="headingCategory" data-bs-parent="#FilterData">
                                    <div class="accordion-body">

                                        <div id="categoryListParent" class="row scrollable ">

                                        </div>


                                    </div>
                                </div>
                            </div>


                            <!-- Indicator Lists-->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingIndicator">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseIndicator"
                                        aria-expanded="false" aria-controls="collapseIndicator">
                                        Indicator
                                    </button>
                                </h2>
                                <div id="collapseIndicator" class="accordion-collapse collapse"
                                    aria-labelledby="headingIndicator" data-bs-parent="#FilterData">
                                    <div class="accordion-body">
                                        <div id="indicatorListParent" class="row scrollable">

                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- Filter Data  Accordion End-->

                        <button disabled id="applyFilterButton" class="btn btn-primary btn-block mt-5">Select
                            indicator</button>

                    </div>


                    <div class="col-md-9 card p-4">
                        <!-- Table Start-->
                        <div class="table-responsive">
                            <table class="table table-bordered bg-white" style="table-layout: fixed;">
                                <thead>
                                    <tr class="" id="tableHead">
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">ስም</th>
                                        <th scope="col">2000</th>
                                        <th scope="col">2001</th>
                                        <th scope="col">2002</th>
                                        <th scope="col">2003</th>
                                    </tr>
                                </thead>
                                <tbody id="tableBody">
                                    <tr>
                                        <td colspan="7">
                                            <p class="text-danger text-center">Please filter data to see here!</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div id="tableLoader"></div>
                        </div>
                        <!--Table End-->
                    </div>
                </div>
            </div>
        </div>
        <!--Title End-->
    </div>




    <!-- footer area start -->
    {% include "base/includes/footer.html" %}
    <!-- footer area end -->

    <!-- JS here -->
    {% include "base/includes/footer_js.html" %}
</body>

<script src="{% static 'base_assets/js/base-data-view/filterTopicAndCategory.js' %}"></script>
<script src="{% static 'base_assets/js/hooks/useFetch.js' %}"></script>




<script src="{% static " base_assets/plugins/jquery/jquery.min.j" %}s"></script>

<script src="{% static " base_assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<script src="{% static " base_assets/dist/js/adminlte.min2167.js?v=3.2.0" %}"></script>

<script src="{% static " base_assets/plugins/flot/jquery.flot.js" %}"></script>

<script src="{% static " base_assets/plugins/flot/plugins/jquery.flot.resize.js" %}"></script>

<script src="{% static " base_assets/plugins/flot/plugins/jquery.flot.pie.js" %}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

</html>