{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% include "base/includes/head.html" %}
</head>
    <body class="justify-content-center overflow-auto">
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                    <div class="object" id="object_four"></div>
                    <div class="object" id="object_five"></div>
                    <div class="object" id="object_six"></div>
                    <div class="object" id="object_seven"></div>
                    <div class="object" id="object_eight"></div>
                </div>
            </div>
        </div>
        
        <div class="scroll-up" id="scroll" style="display: none;">
            <a href="javascript:void(0);"><i class="fas fa-level-up-alt"></i></a>
        </div>
      
        {% include "base/includes/navbar.html" %}
        
        <main>
            <section class="hero__area p-relative">
                <div class="hero__shape">
                    <img class="one" src="{% static 'base_assets/img/icon/slider/03/icon-1.png' %}" alt="">
                    <img class="two" src="{% static 'base_assets/img/icon/slider/03/icon-2.png' %}" alt="">
                    <img class="three" src="{% static 'base_assets/img/icon/slider/03/icon-3.png' %}" alt="">
                </div>

                <div class="hero__item hero__height d-flex align-items-center text-center">
                  <div class="container-fluid">
                    <div class="row align-items-center">
                      <div class="col-md-6">
                        <img src="{% static "base_assets/image/mopd_logo_green.png" %}" style="max-width: 70%" class='img-fluid  mx-auto d-block'>
                      </div>
                      
                      <div class="col-md-6 ">
                        <span class="wow fadeInUp" data-wow-delay=".2s">Economic Analysis and Policy Directorate</span>
                        <h1 class="wow fadeInUp" data-wow-delay=".4s">Ministry of PLANNING  <br> AND DEVELOPMENT </h1>
                        <p class="wow fadeInUp" data-wow-delay=".6s"> የፕላን እና ልማት ሚኒስቴር የኢኮኖሚ ትንተና እና ፖሊሲ ዳይሬክቶሬት</p>
                        <a href="#" class="z-btn z-btn-border">See what's New</a>
                      </div>
                      
                    </div>
                  </div>
                </div>
                               
            </section>

            <!-- hero area end -->
            <section class="faq__area p-relative pt-135 pb-120 grey-bg-12">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-md-6 mt-2">
                      <img style="max-width: 100%" class='img-fluid  mx-auto d-block' src="{% static 'base_assets/image/drawPresentation1.svg' %}" alt="">
                    </div>
                    <div class="col-md-5 mt-2 borde wow fadeInUp" data-wow-delay=".4s">
                      <h1 class="h1 fw-bold">Our Mission</h1>


                      <div class="accordion  text-start" id="accordionExample">


                        <div class="accordion-item border-0">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="card-header accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <h4 class="text-start">Our mission is to provide comprehensive policy analysis</h4>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse  collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="card-body grey-bg-12 wow fadeInUp" data-wow-delay=".4s">
                              <p>
                                Our mission is to provide comprehensive policy analysis, guidance,
                                and support to drive the multidimensional development endeavors of
                                our country. We aim to play a pivotal role in shaping Ethiopia's
                                future by preparing medium and long-term national development plans
                                through effective coordination with sectoral ministries and relevant
                                government agencies.
                              </p>
                            </div>
                          </div>
                        </div>


                        
                        <div class="accordion-item border-0">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="card-header accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                             <div class="h4 text-start fw-bold "> We are committed to developing robust public investment</div>
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body grey-bg-12 " data-wow-delay=".4s">
                             <p>
                              We are committed to developing robust public investment
                              administration and management capabilities to ensure efficient
                              appraisal, selection, and prioritization of policies, programs, and
                              development projects. By enhancing these capacities, we strive to
                              maximize the impact of public resources and promote sustainable and
                              inclusive development.
                             </p>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                </div>
            </section>

            <!-- services area start -->
            <section class="services__area-2 mt--120 pt-270 pb-140 p-relative" data-background="{% static "base_assets/img/bg/wave-bg-2.png" %}">
                <div class="container pt-5">
                    <div class="row justify-content-center">
                     <!--Card 1-->
                        <div class="col-lg-7  mt-3 shadow bg-light">
                          
                          <!--CPI-->
                          <div class="row">

                            <div class="card-body">
                              <h1 class="card-header text-muted mb-3">Inflation</h1>
                            </div>
                            <h3 class="ps-4 text-muted mb-3">{{ cpi_category.name_ENG }}</h3>


                            {% for item in cpi %}
                            <!--Data 1-->
                            <div class="col-4 border-end">
                              <div class="card-body">
                                <h4 class="card-subtitle mb-2 text-muted">{{ item.item }} </h4>
                                <h5 class="card-text text-muted">{{year.year_EC}} (Year on Year)</h5>
                                <h1 class="fs-1">
                                  {% if item.mode == 'positive' %}
                                  ↑
                                  {% else %}
                                  ↓
                                  {% endif %}
                                  
                                  {{item.value}}%</h1>
                                <a href="#" class="nav-link text-end">Data</a>
                              </div>
                            </div>
                            {% endfor %}

                          </div>

                        </div>

                        <!--EXPORT-->
                        <div class="col-lg-4 mt-3 ms-3 shadow bg-light">
                          <div class="row">

                            <div class="card-body">
                              <h1 class="card-header text-muted mb-3">Export in Bil USD</h1>
                            </div>
                            <h3 class="ps-4 fs-3 text-muted mb-3">{{ export_bill_category.name_ENG }}</h3>


                            {% for item in export_bill_value %}
                            <!--Data 1-->
                            <div class="col-12 border-end">
                              <div class="card-body">
                                <h4 class="card-subtitle mb-2 text-muted">{{ item.item }} </h4>
                                <h5 class="card-text text-muted">{{year.year_EC}} (Year on Year)</h5>
                                <h1 class="fs-1">
                                  {% if item.mode == 'positive' %}
                                  ↑
                                  {% else %}
                                  ↓
                                  {% endif %}
                                  
                                  {{item.value}}%</h1>
                                <a href="#" class="nav-link text-end">Data</a>
                              </div>
                            </div>
                            {% endfor %}

                          </div>
                        </div>

                        <!--GDP-->
                        <div style="margin-top: 60px;" class="col-11 shadow bg-light shadow">
                           <!--CPI-->
                           <div class="row">

                            <div class="card-body">
                              <h1 class="card-header text-muted mb-3">Annual Budget in Bil Birr </h1>
                            </div>
                            <h3 class="ps-4 text-muted mb-3">{{ cpi_category.name_ENG }}</h3>


                            {% for item in cpi %}
                            <!--Data 1-->
                            <div class="col-4 border-end">
                              <div class="card-body">
                                <h4 class="card-subtitle mb-2 text-muted">{{ item.item }} </h4>
                                <h5 class="card-text text-muted">{{year.year_EC}} (Year on Year)</h5>
                                <h1 class="fs-1">
                                  {% if item.mode == 'positive' %}
                                  ↑
                                  {% else %}
                                  ↓
                                  {% endif %}
                                  
                                  {{item.value}}%</h1>
                                <a href="#" class="nav-link text-end">Data</a>
                              </div>
                            </div>
                            {% endfor %}

                          </div>

                        </div>

                      


                    <div class="about__area-2 pt-130">
                        <div class="row">
                            <div class="col-xl-7 col-lg-6">
                                <div class="about__thumb-2 p-relative m-img wow fadeInLeft" data-wow-delay=".2s">
                                    <img src="{% static "base_assets/img/about/about-2.png" %}" alt="">
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6">
                                <div class="about__content">
                                    <div class="section__title section__title-3 mb-25">
                                        <h2 class="wow fadeInUp" data-wow-delay=".4s">About Analysis tool</h2>
                                    </div>
                                    <p class="wow fadeInUp" data-wow-delay=".6s"> This analysis tool is designed to provide insights into various
                                        economic factors, such as GDP growth, inflation rates, employment
                                        levels, and other relevant indicators. By utilizing this tool, the
                                        MOPD aims to make informed decisions and develop effective policies
                                        that can drive economic growth and improve the overall well-being of
                                        the country</p>
                                    <div class="about__list wow fadeInUp" data-wow-delay=".8s">
                                        <ul>
                                            <li><span><i class="far fa-check"></i>Innovative ideas</span></li>
                                            <li><span><i class="far fa-check"></i>Professional assistance</span></li>
                                            <li><span><i class="far fa-check"></i>Financial advisory</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- services area end -->
            <section class="services__area-2 mt--120 pt-270 pb-140 p-relative" data-background="{% static "base_assets/img/bg/wave-bg-2.png" %}">
                <div class="section__title section__title-3 mb-60 center">
                    <h2 class="wow fadeInUp text-center" data-wow-delay=".4s"> Our web application</h2>
                </div>
                <div class="container">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="1000">
                            <img src="{% static 'base_assets/image/main.png' %}" class="d-block w-100 rounded img-fluid" alt="...">
                        
                          </div>                          
                          <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'base_assets/image/expanded.png' %}" class=" d-block w-100 rounded img-fluid" alt="...">
            
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'base_assets/image/table.png' %}" class=" d-block w-100 rounded img-fluid" alt="...">
 
                          </div>
                          <div class="carousel-item">
                            <img src="{% static 'base_assets/image/chart.png' %}" class=" d-block w-100 rounded img-fluid" alt="...">
  
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                  
                </div>
            </section>
           
        </main>

        

        <!-- footer area start -->
        {% include "base/includes/footer.html" %}
        <!-- footer area end -->

		<!-- JS here -->
     {% include "base/includes/footer_js.html" %}
    </body>
    <script src="{% static "base_assets/plugins/jquery/jquery.min.j" %}s"></script>

    <script src="{% static "base_assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  
    <script src="{% static "base_assets/dist/js/adminlte.min2167.js?v=3.2.0" %}"></script>
  
    <script src="{% static "base_assets/plugins/flot/jquery.flot.js" %}"></script>
  
    <script src="{% static "base_assets/plugins/flot/plugins/jquery.flot.resize.js" %}"></script>
  
    <script src="{% static "base_assets/plugins/flot/plugins/jquery.flot.pie.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

</html>