{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DPMEs</title>
  <link />
  <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css" />
  {% include 'user-admin/common/head.html' %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  {% include 'user-admin/common/navbar.html'%}
  <div>{% include 'user-admin/common/sidebar.html' %}</div>

  <div class="content-wrapper">
    <div class="col-lg-7 mx-auto d-block">
      {% include 'includes/messages.html' %}
    </div>
    <!-- TItle Start-->
    <div class="content-header">
      <h4 class="text-info mt-3"> List of all indicators </h4>
      <div class="bg-white container-fluid">
        <div class="row pt-3">
          <div class="col-lg-8">
            <form>
              <div class="col-12 d-flex align-items-center">
                <input type="text" name="q" class="form-control ps-5 pe-5 m-3 d-block" placeholder="Enter Key Word" />
                <button class="btn btn-primary">
                  <i class="fas fa-search ms-2"></i>
                </button>
              </div>
            </form>
          </div>

          <div class=" col flot-right">
            <p class="text-success text-end"> Last Indicator ID: <span class="text-bold">{{last_indicator_id}}</span> </p>
            <button class="btn btn-success float-end m-2" data-bs-toggle="modal" data-bs-target="#AddIndicator"
              data-bs-whatever="@mdo">
              <i class="fas fa-plus"></i> Add Indicator
            </button>
              <a 
                href="{% url 'export_indicator' %}"  
                download
                type="button" 
                class="btn btn-success m-2 float-end">
                <i class="bi bi-download"></i>
              </a>
            <button 
              data-bs-toggle="modal" 
              data-bs-target="#indicatorExcel"
              class="btn btn-success float-end m-2" 
              data-bs-whatever="@mdo">
              <i class="fas fa-database"></i>
               Import Indicator
          </button>
          
          </div>
        </div>
        <div class="table-responsive ps-4">
          <table   style="table-layout: fixed;" class="table table-sm table-bordered table-hover caption-top">
            <thead>
              <tr style="background-color: #9fdfa9;">
                <th style="width:50px;">#</th>
                <th style="width:200px;" >Title (English)</th>
                <th style="width:200px;" >Title (Amharic)</th>
                <th class="text-break" style="width:300px;">Composite Key</th>
                <th style="width:200px;">For Category</th>
                <th style="width:70px;">Meas Units</th>
                <th style="width:70px;">KPI Char</th>
                <th style="width:70px;">Dash-Visibility</th>
                <th style="width:60px;">Public</th>
                <th style="width:130px;">Action</th>
              </tr>
            </thead>
            <tbody class="p-5">

              {% if all_indicators %}
              {% for indicator in all_indicators %}
             
               <tr>
                <td>{{count | add:forloop.counter}}</td>
                <td>{{indicator.title_ENG}}</td>
                <td>{{indicator.title_AMH}}</td>
                <td class="text-break">{{indicator.composite_key}}</td>
                <td>
                  {% if indicator.for_category.all.count > 0 %} {{ indicator.for_category.all.0 }}{% endif %}
                  {% if indicator.for_category.all.count > 1 %}, {{ indicator.for_category.all.1 }}{% endif %}
                  {% if indicator.for_category.all.count > 2 %} ... {% endif %}
                </td>
                <td>
                  <button class="btn btn-success btn-sm">
                  {% if indicator.measurement_units %}
                     {{indicator.measurement_units}}
                  {% else %}
                      None
                  {% endif %}
                </button>
                </td>
                <td>
                  <button class="btn btn-info btn-sm">
                    {% if indicator.kpi_characteristics %}
                       {{indicator.kpi_characteristics}}
                    {% else %}
                        None
                    {% endif %}
                  </button>
                  
                </td>
                <td class="text-center">
                  {% if indicator.is_dashboard_visible %}
                  <i class="fa fa-check text-success"></i>
                  {% else %}
                  <i class="fa fa-times text-danger"></i>
                  {% endif %}
                </td>
                <td class="text-center">
                  {% if indicator.is_public %}
                  <i class="fa fa-check text-success"></i>
                  {% else %}
                  <i class="fa fa-times text-danger"></i>
                  {% endif %}
                </td>
                <td>
                  <a href="{% url "data_view_indicator_detail" indicator.id %}" class="btn btn-outline-warning mt-2 btn-sm">
                  <i class="fa fa-eye"></i>
                 </a>
                  
                  <a class="btn btn-outline-info mt-2 btn-sm btn-edit" id="btnEditTable{{indicator.id}}" href="{% url "indicators_detail" indicator.id %}">
                    <i class="fa fa-edit"></i>
                  </a>
                  <button class="btn btn-outline-danger mt-2 btn-sm btn-delete" data-bs-toggle="modal"
                    data-bs-target="#deleteIndicatorModal" data-bs-whatever="@mdo" data-id={{indicator.id}}
                    data-name={{indicator.title_ENG}}>
                    <i class="fa fa-trash"></i>
                  </button>
             

                </td>
              </tr>
              {% endfor %} {% else %}
              <tr>
                <td class="text-center text-danger" colspan="9">
                  No Data Found
                </td>
              </tr>
              {% endif %}
            </tbody>
          </table>

          <!-- Pagination -->
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-circle pagination-outline justify-content-center">
              {% if all_indicators.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ all_indicators.previous_page_number }}">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
              </li>
              {% endif %} {% if all_indicators.number|add:'-4' > 1 %}
              <li class="page-item">
                <a class="page-link" href="?page={{ all_indicators.number|add:'-5' }}">&hellip;</a>
              </li>
              {% endif %} {% for i in all_indicators.paginator.page_range %}
              {% if all_indicators.number == i %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ i }}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
              {% elif i > all_indicators.number|add:'-5' and i < all_indicators.number|add:'5' %} <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %} {% endfor %} {% if all_indicators.paginator.num_pages > all_indicators.number|add:'4' %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ all_indicators.number|add:'5' }}">&hellip;</a>
                </li>
                {% endif %} {% if all_indicators.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ all_indicators.next_page_number }}">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                </li>
                {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!--Title End-->
  </div>




    <!--Detail Modal-->
  <!-- Modal -->
  <div class="modal fade" id="viewIndicator" tabindex="-1" aria-labelledby="viewIndicatorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewIndicatorLabel">Indicator Detail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body" id="detailIndicatorBody">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>

  <!--End Modal -->

  <!--Add  Modal-->
  <!-- Modal -->
  <div class="modal fade" id="AddIndicator" tabindex="-1" aria-labelledby="AddIndicatorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddIndicatorLabel">Indicator Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" name="addIndicatorForm" enctype="multipart/form-data">
          <div id="detailModalBody" class="modal-body">
            {% csrf_token %}
            <p>
              <label for="id_title_ENG">Title (English):</label>
              {{ form.title_ENG }}
            </p>
            <p>
              <label for="id_title_AMH">Title (Amharic):</label>
              {{ form.title_AMH }}
            </p>
            <p>
              <label for="id_for_category">For Category:</label>
              {{ form.for_category }}
            </p>
            <p>
              <label for="id_is_public">Is Public:</label>
              {{ form.is_public }}
            </p>
            <p>
              <label for="id_measurement_units">Measurement Units:</label>
              {{ form.measurement_units }}
            </p>
            <p>
              <label for="id_kpi_characteristics">KPI Characteristics:</label>
              {{ form.kpi_characteristics }}
            </p>
            <p>
              <label for="id_is_dashboard_visible">Is Dashboard Visible:</label>
              {{ form.is_dashboard_visible }}
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" name="addIndicatorForm" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--End Modal -->



  <!--Delete  Modal-->
  <!-- Modal -->
  <div class="modal fade" id="deleteIndicatorModal" tabindex="-1" aria-labelledby="deleteIndicatorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteIndicatorModalLabel">Delete Indicator</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="h4 fw-normal" id="deleteIndicator"></p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="#" id="deleteIndicatorAnchor" type="submit" class="btn btn-danger">Delete</a>
        </div>

      </div>
    </div>
  </div>
  <!--End Modal -->


    <!--Modal add Excel file for Indicator-->
   <!--Add Excel Data-->
   <div class="modal fade" id="indicatorExcel" tabindex="-1" aria-labelledby="indicatorExcelLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="indicatorExcelLabel">
            New Indicator Registration
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method='POST' name="fileIndicator" enctype="multipart/form-data">
          <div class="modal-body">

            {% csrf_token %}
            <p class="text-info">
              <a 
                href="{% static 'sample_excel/SampleIndicatorFormat.xlsx' %}"
                download="SampleIndicatorFormat.xlsx"
                class="btn btn-info">
                <i class="bi bi-download"></i>
              </a>
              Download sample Excel format. 
            </p>

            <div class="row justify-content-start mt-5">
              <div class="col-12">
                <label for="">Add Excel</label>
                {{formFile.as_p}}

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Cancel
            </button>
            <button type="submit" name="fileIndicator" class="btn btn-primary">Add Indicator</button>
          </div>
        </form>
      </div>
    </div>
  </div>



  {% include 'user-admin/common/footer.html'%}
  {% include 'user-admin/common/footer_js.html'%}
</body>

<script>
  new MultiSelectTag("id_for_category", {
    rounded: true, // default true
    shadow: true, // default false
    placeholder: "Search", // default Search...
    onChange: function (values) {
      console.log(values);
    },
  });
</script>
<script>
  $(document).ready(function () {


    showToast = (title, body, cssClass) => {
      $.toast({
        heading: title,
        text: body,
        showHideTransition: 'slide',
        icon: cssClass,
        position: 'top-right',
      })
    }

    $(".btn-delete").on('click', function () {
      const buttonData = $(this).data()
      $("#deleteIndicatorAnchor").attr("href", `/user-admin/indicator_delete/${buttonData.id}`)
      $("#deleteIndicator").html(`Are you sure you want to delete <div> <code> ${buttonData.name}</code>? </div> `)
    })

    $(".btn-view").on('click', function () {
      const buttonData = $(this).data()
      console.log(buttonData)
      let isPublicIcon = buttonData.isPublic ? '<i class="fa fa-check text-success"></i>' : '<i class="fa fa-times text-danger"></i>';
      let isDashboardIcon = buttonData.is_dashboard_visible ? '<i class="fa fa-check text-success"></i>' : '<i class="fa fa-times text-danger"></i>';


      let modalContent = `
        <div class="card shadow-lg gap-2 p-3">
        <p>ID: ${buttonData.id}</p>
        <p>Title (ENG): ${buttonData.title_eng}</p>
        <p>Title (AMH): ${buttonData.title_amh}</p>
        <p> Measurement Units: <button class="btn btn-sm btn-secondary disabled">${buttonData.measurementUnits}</button></p>
        <p> KPI Characteristics:<button class="btn btn-sm btn-secondary disabled"> ${buttonData.kpiCharacteristics}</button></p>
        <p>Is Public: ${isPublicIcon}</p>
        <p>Is Dashboard Visible:  ${isPublicIcon}</p>
        </div>
    `;

    $('#detailIndicatorBody').html(modalContent);
    })


   

  })
</script>

</html>