{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DPMEs</title>
    <link />
    {% include 'user-admin/include/head.html' %}
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    {% include 'user-admin/include/navbar.html'%}
    <div>{% include 'user-admin/include/sidebar.html' %}</div>

    <!--Body Start-->
    <div class="content-wrapper">
      <!-- TItle Start-->
      <div class="content-header">
        <div class="container-fluid justify-content-center row">
          <div class="col-12 border ">
            <div class="col-lg-7 mx-auto d-block">
              {% include 'includes/messages.html' %}
             </div>
         

             <!--Search and Adds-->
            <div class="row align-middle">
    
              <div class="col-lg-8">
                  <form>
                      <div class="col-12 d-flex align-items-center">
                          <input type="text" name="q" class="form-control ps-5 pe-5 m-3 d-block" placeholder="Enter Key Word">
                          <button class="btn btn-primary"> <i class="fas fa-search ms-2"></i></button>
                      </div>
                  </form>
              </div>
              
              <div class="col flot-right">
                  <button 
                  class="btn btn-primary float-end m-2"
                  data-bs-toggle="modal" 
                  data-bs-target="#addEditCategory">
                  <i class="fas fa-plus"></i> Add Topic
                </button>
                  <button class="btn btn-primary float-end m-2" 
                  
                  data-bs-whatever="@mdo"><i class="fas fa-database"></i> Import Topic</button>
              </div>
                      
            </div>
              <caption class="text-muted">List of Category</caption>

              <!--Table Start-->
            <div class="table-responsive">
              <table class="table  table-sm  table-hover caption-top">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">ስም</th>
                    <th scope="col">Is Dashboard</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for category in categories %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{category.name_ENG}}</td>
                    <td>{{category.name_AMH}}</td>
                    <td>
                      {% if category.is_dashboard_visible %}
                      <i class="fa fa-check text-success"></i>
                      {% else %}
                      <i class="fa fa-times text-danger"></i>
                      {% endif %}
                    </td>
                    <td>
                      <button class="btn btn-block btn-sm btn-secondary">{{category.topic}}</button>
                    </td>
                    <td>
                      <button class="btn btn-sm btn-info"> <i class="fa fa-eye"></i> </button>
                      <button 
                      class="btn-edit btn btn-sm btn-warning"
                      data-bs-toggle="modal" 
                      data-bs-target="#addEditCategory"
                      data-id="{{category.id}}"
                      data-name_ENG="{{category.name_ENG}}"
                      data-name_AMH="{{category.name_AMH}}"
                      data-topic="{{category.topic.id}}"
                      data-is_dashboard="{{category.is_dashboard_visible}}"
                      > <i class="fa fa-edit"></i> </button>
                      <button class="btn btn-sm btn-danger"> <i class="fa fa-trash"></i> </button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>


              <!--Pagination-->

              <nav class="mt-5" aria-label="Page navigation example">
                <ul class="pagination pagination-circle pagination-outline justify-content-center" >
                {% if categories.has_previous %}
                  <li class="page-item">
                  <a class="page-link" href="?page={{ categories.previous_page_number }}">Previous</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                  </li>
                {% endif %}
            
                {% if categories.number|add:'-4' > 1 %}
                  <li class="page-item"><a class="page-link" href="?page={{ categories.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}
            
                {% for i in categories.paginator.page_range %}
                  {% if categories.number == i %}
                    <li class="page-item active" aria-current="page">
                    <span class="page-link">
                    {{ i }}
                    <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  {% elif i > categories.number|add:'-5' and i < categories.number|add:'5' %}
                     <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
            
                {% if categories.paginator.num_pages > categories.number|add:'4' %}
                   <li class="page-item"><a class="page-link" href="?page={{ categories.number|add:'5' }}">&hellip;</a></li>
                {% endif %}
            
                {% if categories.has_next %}
                  <li class="page-item">
                  <a class="page-link" href="?page={{ categories.next_page_number }}">Next</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                  </li>
                {% endif %}
                </ul>
              </nav>


            </div>
          </div>
        </div>
      </div>
      <!--Title End-->
    </div>
    <!--Body End-->

    <!--Modals-->

<!-- Modal add new category -->
<div class="modal fade" id="addEditCategory" tabindex="-1" aria-labelledby="addEditCategoryLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEditCategoryLabel">Add new category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="modalFormAddEdit" method="post" >
        {% csrf_token %}
        <div class="modal-body">
          <input id="id_id" type="hidden">
          {{form.as_p}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button  type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

    {% include 'user-admin/include/footer.html'%}
    <div>{% include 'user-admin/include/footer_js.html'%}</div>
  </body>

  <script>
    $(document).ready(function() {
      $(".btn-edit").on('click', function() {
        const buttonData = $(this).data()
        console.log(buttonData)
        $("#id_name_ENG").val(buttonData.name_eng)
        $("#id_name_AMH").val(buttonData.name_amh)
        $("#id_topic").val(buttonData.topic)
        $("#id_is_dashboard").prop('checked', buttonData.is_dashboard) 
        $("#id_id").val(buttonData.id)

        $("#modalFormAddEdit").on('submit', function(e) {
        e.preventDefault()
      })
      $('#editSectorForm').on('submit', function(e){
        e.preventDefault()
        let nameEng = $("#id_name_ENG").val()
        let nameAmh = $("#id_name_AMH").val()
        let topic = $("#id_topic").val()
        let is_dashboard = $("#id_is_dashboard").prop('checked')
        let id = $("#id_id").val()

      
        $.ajax({
          type: 'PATCH',
          url : `{% url "category" '${id}' %}`,
          data: {
              'id' : id,
              'name' : name,
              csrfmiddlewaretoken: '{{csrf_token}}'
            },
            beforeSend: function() {
              $('#saveSector').hide()
               $("#btnLoadding").show();
             },
             // hides the loader after completion of request, whether successfull or failor.             
             complete: function() {
              //Show save button finished 
               $('#saveSector').show()
               $("#btnLoadding").hide();
             },
          success: function(response){
            if(response.success){

              //show succuss message
              showToast('&#128515 Hello, User', 'Successfully Updated', 'success' )
              $('#EditSector').modal('hide'); //Hide Modal
              let htmlName = $('#sector'+id)
              let buttonHtml = $('#sectorButton_'+id) 
              //Update Table Value
              htmlName.text(name)

              //update Button Value
              buttonHtml.data("name", name)



            }else{
               //show succuss message
               showToast('&#128532 Hello User', 'Failed to update Sector.', 'error' )
            }
          },
          error: function(){
            //show succuss message
            showToast('&#128532 Hello User', 'Failed to update Sector.', 'error' )
          }
        })
        
      })
      })

      

    })
  </script>
</html>
