{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DPMEs</title>
    <link />
    {% include 'user-admin/common/head.html' %}
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    {% include 'user-admin/common/navbar.html'%}
    <div>{% include 'user-admin/common/sidebar.html' %}</div>

    <!--Body Start-->
    <div class="content-wrapper">
      <!-- TItle Start-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-8 card">
              {% include 'includes/messages.html' %}
              <form method="post">
                <div class="card-header"><h3>Edit Indicator</h3></div>
                <div class="card-body">{% csrf_token %} {{form.as_p}}</div>
                <div class="float-right p-3">
                  <button class="btn btn-secondary">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--Title End-->
    </div>
    <!--Body End-->

    {% include 'user-admin/common/footer.html'%} 
    {% include 'user-admin/common/footer_js.html'%}
  </body>
  <script>
    new MultiSelectTag("id_for_category", {
      rounded: true, // default true
      shadow: true, // default false
      placeholder: "Search", // default Search...
      onChange: function (values) {
        console.log(values);
      },
    });
  </script>
</html>
