{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>DPMEs</title>
  <link />

  {% include 'user-admin/include/head.html' %}
  {% fontawesome_5_static %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  {% include 'user-admin/include/navbar.html'%}
  <div>{% include 'user-admin/include/sidebar.html' %}</div>


 
  


  <div class="content-wrapper pt-5">
    <div class="row justify-content-center">
        <div class="card col-6 rounded bg-info" >
            <div class="p-4 col-8">
                <h2 class="text-dark">
                 Agriculture <img class="img-fluid" style="width: 40px;" src="/static/dashoboard_assets/assets/images/ethiopia.png" alt="">
                </h2>
                <p class="text-dark">
                 This dashboard aggregates data from  various sectors including macro, economic, infrastructure and projects, social sectors.
                </p>
                <a href="" class="btn btn-outline-light">All done is Here,Welcome!
                </a>
    
              </div>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-lg-11">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist"> 
                <li class="nav-item" role="presentation"> 
                  <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="false">All</button> 
                </li> 
                <li class="nav-item" role="presentation"> 
                  <button class="nav-link " id="pills-yearly-tab" data-bs-toggle="pill" data-bs-target="#pills-yearly" type="button" role="tab" aria-controls="pills-yearly" aria-selected="true">Yearly</button> 
                </li> 
                <li class="nav-item" role="presentation"> 
                  <button class="nav-link" id="pills-quarterly-tab" data-bs-toggle="pill" data-bs-target="#pills-quarterly" type="button" role="tab" aria-controls="pills-quarterly" aria-selected="false">Quarterly</button> 
                </li> 
                <li class="nav-item" role="presentation"> 
                  <button class="nav-link" id="pills-monthly-tab" data-bs-toggle="pill" data-bs-target="#pills-monthly" type="button" role="tab" aria-controls="pills-monthly" aria-selected="false">Monthly</button> 
                </li> 
          </ul> 
               
              <div class="tab-content" id="pills-tabContent"> 
         
                <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab"> 
         
                  <!--All--> 
                  <table class="table" style="table-layout: fixed;" > 
         
                    <tbody> 
             
                            <!--Yearly--> 
                            <tr> 
                              <td class="border m-0 p-0 " colspan="12"> 
                                <table class="m-0 p-0 table table-bordered table-hover "> 
                                  <thead> 
                                    <tr style="background-color: #40864b;" ><th class="text-light" colspan="9">Yearly</th></tr> 
                                    <tr style="background-color: #9fdfa9;" > 
                                      <th  scope="col">Indicator (English)</th> 
                                      <th  scope="col">Indicator (Amharic)</th> 
                                      <th  scope="col">2000</th> 
                                      <th  scope="col">2001</th> 
                                      <th  scope="col">2002</th> 
                                      <th  scope="col">2003</th> 
                                      <th  scope="col">2004</th> 
                                      <th  scope="col">2005</th> 
                                      <th  scope="col">2006</th> 
                                    </tr> 
                                  </thead> 
                                  <tbody> 
                                    <tr> 
                                      <th scope="row"> 
                                        Agriculture  
                                        <a href="#"><i class="fas fa-eye text-success float-end"></i> </a>  
                                      </th> 
                                      <th>ግብርና</th> 
                                      <td>2</td> 
                                      <td>3</td> 
                                      <td>4</td> 
                                      <td>4</td> 
                                      <td>4</td> 
                                      <td>4</td> 
                                      <td>4</td> 
                                    </tr> 
                                    <tr> 
                                      <th scope="row"> 
                                        Culture  
                                        <a href="#"><i class="fas fa-eye text-success float-end"></i> </a>  
                                      </th> 
                                      <th>ግብርና</th> 
                                      <td>2</td> 
                                      <td>3</td> 
                                      <td>2</td> 
                                      <td>6</td> 
                                      <td>7</td> 
                                      <td>9</td> 
                                      <td>4</td> 
                                    </tr> 
                                  </tbody> 
                                </table> 
                              </td> 
                            </tr> 
             
             
             
                             <!--Quarter--> 
                             <tr>
        <td  class="border m-0 p-0 " colspan="12"> 
                                <table class="m-0 p-0 table table-hover table-bordered"> 
                                  <thead> 
                                    <tr style="background-color: #40864b;" > 
                                      <th class="text-light border" colspan="9">Quarter</th> 
                                    </tr> 
                                    <tr class="text-start border" style="background-color: #9fdfa9;" > 
                                      <th style="width: 230px;" class="vertical-text text-start align-middle" scope="col">Year EC</th> 
                                      <th style="width: 200px;" class="vertical-text text-start align-middle" scope="col">Quarter</th> 
                                      <th style="width: 70px;" class="vertical-text text-start align-middle" scope="col">Agriculture</th> 
                                      <th style="width: 70px;" class="vertical-text text-start align-middle" scope="col">Culture</th> 
                                    </tr> 
                                  </thead> 
                                  <tbody class="text-center"> 
                                    <tr> 
                                      <th scope="row">2000 EC - 2010/2011 G.C</th> 
                                      <td>Q1</td> 
                                      <td>20</td> 
                                      <td>22</td> 
                                    </tr> 
                                    <tr> 
                                      <th scope="row"></th> 
                                      <td>Q2</td> 
                                      <td>20</td> 
                                      <td>22</td> 
                                    </tr> 
                                    <tr> 
                                      <th scope="row"></th> 
                                      <td>Q3</td> 
                                      <td>20</td> 
                                      <td>22</td> 
                                    </tr> 
                                  </tbody> 
                                </table> 
                              </td> 
                            </tr> 
             
             
                             <!--Month--> 
                             <tr> 
                              <td  class="border m-0 p-0 " colspan="12"> 
                                <table class="m-0 p-0 table table-hover table-bordered"> 
                                  <thead> 
                                    <tr style="background-color: #40864b;" > 
                                      <th class="text-light border" colspan="9">Month</th> 
                                    </tr> 
                                    <tr class="text-start border" style="background-color: #9fdfa9;" > 
                                      <th style="width: 230px;" class="vertical-text text-start align-middle" scope="col">Year EC</th> 
                                      <th style="width: 200px;" class="vertical-text text-start align-middle" scope="col">Month</th> 
                                      <th style="width: 70px;" class="vertical-text text-start align-middle" scope="col">Agriculture</th> 
                                      <th style="width: 70px;" class="vertical-text text-start align-middle" scope="col">Culture</th> 
                                    </tr> 
                                  </thead> 
                                  <tbody class="text-center"> 
                                    <tr> 
                                      <th scope="row">2000 EC - 2010/2011 G.C</th> 
                                      <td>ሐምሌ: 8 Jul– 6 Aug</td> 
                                      <td>20</td> 
                                      <td>22</td> 
                                    </tr> 
                                    <tr> 
                                      <th scope="row"></th> 
                                      <td>ሐምሌ: 8 Jul– 6 Aug</td> 
                                      <td>20</td> 
                                      <td>22</td> 
                                    </tr> 
                                    <tr> 
                                      <th scope="row"></th> 
                                      <td>ሐምሌ: 8 Jul– 6 Aug</td> 
                                      <td>20</td> 
                                      <td>22</td> 
                                    </tr> 
                                  </tbody> 
                                </table>
        </td> 
                            </tr> 
             
                             
             
             
                    </tbody> 
             
                  </table> 
         
                  <!--End all--> 
                </div> 
         
         
                <div class="tab-pane fade" id="pills-yearly" role="tabpanel" aria-labelledby="pills-yearly-tab"> 
         
                  <!--Year--> 
                  <table class="m-0 p-0 table table-bordered table-hover "> 
                    <thead> 
                      <tr style="background-color: #40864b;" ><th class="text-light" colspan="9">Yearly</th></tr> 
                      <tr style="background-color: #9fdfa9;" > 
                        <th  scope="col">Indicator (English)</th> 
                        <th  scope="col">Indicator (Amharic)</th> 
                        <th  scope="col">2000</th> 
                        <th  scope="col">2001</th> 
                        <th  scope="col">2002</th> 
                        <th  scope="col">2003</th> 
                        <th  scope="col">2004</th> 
                        <th  scope="col">2005</th> 
                        <th  scope="col">2006</th> 
                      </tr> 
                    </thead> 
                    <tbody> 
                      <tr> 
                        <th scope="row"> 
                          Agriculture  
                          <a href="#"><i class="fas fa-eye text-success float-end"></i> </a>  
                        </th> 
                        <th>ግብርና</th> 
                        <td>2</td> 
                        <td>3</td> 
                        <td>4</td> 
                        <td>4</td> 
                        <td>4</td> 
                        <td>4</td> 
                        <td>4</td> 
                      </tr> 
                      <tr> 
                        <th scope="row"> 
                          Culture  
                          <a href="#"><i class="fas fa-eye text-success float-end"></i> </a>  
                        </th> 
                        <th>ግብርና</th> 
                        <td>2</td> 
                        <td>3</td> 
                        <td>2</td> 
                        <td>6</td> 
                        <td>7</td> 
                        <td>9</td> 
                        <td>4</td> 
                      </tr> 
                    </tbody> 
                  </table> 
         
                  <!--Year end--> 
         
                </div> 
         
         
                <div class="tab-pane fade" id="pills-quarterly" role="tabpanel" aria-labelledby="pills-quarterly-tab"> 
                  <table class="m-0 p-0 table table-hover table-bordered"> 
                    <thead> 
                      <tr style="background-color: #40864b;" > 
                        <th class="text-light border" colspan="9">Quarter</th> 
                      </tr> 
                      <tr class="text-start border" style="background-color: #9fdfa9;" > 
                        <th style="width: 230px;" class="vertical-text text-start align-middle" scope="col">Year EC</th> 
                        <th style="width: 200px;" class="vertical-text text-start align-middle" scope="col">Quarter</th> 
                        <th style="width: 70px;" class="vertical-text text-start align-middle" scope="col">Agriculture</th> 
                        <th style="width: 70px;" class="vertical-text text-start align-middle" scope="col">Culture</th> 
                      </tr> 
                    </thead> 
                    <tbody class="text-center"> 
                      <tr> 
                        <th scope="row">2000 EC - 2010/2011 G.C</th> 
                        <td>Q1</td> 
                        <td>20</td> 
                        <td>22</td> 
                      </tr> 
                      <tr> 
                        <th scope="row"></th> 
                        <td>Q2</td> 
                        <td>20</td> 
                        <td>22</td> 
                      </tr> 
                      <tr> 
                        <th scope="row"></th> 
                        <td>Q3</td> 
                        <td>20</td> 
                        <td>22</td> 
                      </tr> 
                    </tbody> 
                  </table> 
                </div> 
         
         
                <div class="tab-pane fade" id="pills-monthly" role="tabpanel" aria-labelledby="pills-monthly-tab"> 
                  <table class="m-0 p-0 table table-hover table-bordered"> 
                    <thead> 
                      <tr style="background-color: #40864b;" > 
                        <th class="text-light border" colspan="9">Month</th> 
                      </tr> 
                      <tr class="text-start border" style="background-color: #9fdfa9;" >
        <th style="width: 230px;" class="vertical-text text-start align-middle" scope="col">Year EC</th> 
                        <th style="width: 200px;" class="vertical-text text-start align-middle" scope="col">Month</th> 
                        <th style="width: 70px;" class="vertical-text text-start align-middle" scope="col">Agriculture</th> 
                        <th style="width: 70px;" class="vertical-text text-start align-middle" scope="col">Culture</th> 
                      </tr> 
                    </thead> 
                    <tbody class="text-center"> 
                      <tr> 
                        <th scope="row">2000 EC - 2010/2011 G.C</th> 
                        <td>ሐምሌ: 8 Jul– 6 Aug</td> 
                        <td>20</td> 
                        <td>22</td> 
                      </tr> 
                      <tr> 
                        <th scope="row"></th> 
                        <td>ሐምሌ: 8 Jul– 6 Aug</td> 
                        <td>20</td> 
                        <td>22</td> 
                      </tr> 
                      <tr> 
                        <th scope="row"></th> 
                        <td>ሐምሌ: 8 Jul– 6 Aug</td> 
                        <td>20</td> 
                        <td>22</td> 
                      </tr> 
                    </tbody> 
                  </table> 
                </div> 
         
         
              </div> 
        
        </div>      
      </div>
</div>



  <!--Body End-->

  {% include 'user-admin/include/footer.html'%}

  <!--Chart -->
  <script src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'assets/plugins/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'assets/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
  <script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
  <script src="{% static 'assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
  <script src="{% static 'assets/plugins/summernote/summernote-bs4.min.js' %}"></script>
  <script src="{% static 'assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>

  {% include 'user-admin/include/footer_js.html'%}
</body>

</html>