{% load static %}
<!--footer-->
<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col my-1">
                <p class="m-0">Dashboard &#9829; crafted by Mopd </p>
            </div>
        </div>
    </div>
</footer>




<script data-cfasync="false" src="{% static 'data_portal/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
<script src="{% static 'data_portal/assets/js/plugins/apexcharts.min.js' %}"></script>
<script src="{% static 'data_portal/assets/js/plugins/popper.min.js' %}"></script>
<script src="{% static 'data_portal/assets/js/plugins/simplebar.min.js' %}"></script>
<script src="{% static 'data_portal/assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'data_portal/assets/js/fonts/custom-font.js' %}"></script>
<script src="{% static 'data_portal/assets/js/pcoded.js' %}"></script>
<script src="{% static 'data_portal/assets/js/plugins/feather.min.js' %}"></script>





<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<link
rel="stylesheet"
href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script
src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script>






<script>layout_change('false');</script>
<script>layout_theme_contrast_change('false');</script>
<script>change_box_container('false');</script>
<script>layout_caption_change('true');</script>
<script>layout_rtl_change('false');</script>
<script>preset_change('preset-1');</script>
<script>main_layout_change('vertical');</script>