{% load static %}
<head>
    <title>Home | National dashboard</title><!-- [Meta] -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ethiopian National Aggregated Data Dashboard: Real-Time Data Visualization and Sectoral Insights">
    <meta name="keywords" content="dashboard, nation dashboard, ethiopia dashboard">
    <meta name="author" content="Mopd"><!-- [Favicon] icon -->
    <link rel="icon" href="https://ableproadmin.com/assets/images/favicon.svg" type="image/x-icon">
   

    <!-- [Font] Family -->
    <link rel="stylesheet" href="{% static 'data_portal/assets/fonts/inter/inter.css' %}" id="main-font-link">
    <link rel="stylesheet" href="{% static 'data_portal/assets/fonts/tabler-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'data_portal/assets/fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'data_portal/assets/fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'data_portal/assets/fonts/material.css' %}">
    <link rel="stylesheet" href="{% static 'data_portal/assets/css/style.css' %}" id="main-style-link">
    <link rel="stylesheet" href="{% static 'data_portal/assets/css/style-preset.css' %}">

   
    <style>
    /* Hide sidebar for tablets and desktops */
    @media (min-width: 768px) {
        .pc-sidebar {
            display: none;
        }
    }
    </style>


    <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




   



</head>