{% load static %}
<!doctype html>
<html lang="en" class="preset-1" data-pc-sidebar-caption="true" data-pc-layout="vertical" data-pc-direction="ltr"
    dir="ltr" data-pc-theme_contrast data-pc-theme="light">
    <head>
        {% include 'dashboard/include/head.html' %}
    </head>

    <body>
        {% include 'dashboard/include/nav.html'%}  
        {% include 'dashboard/include/header.html'%}              

        <div class="pc-container">
            <div class="pc-content">
                <!-- [ Main Content ] start -->
                 <!-- [ Main Content ] end -->
            </div>
        </div>
       
       {% include 'dashboard/include/footer.html'%}
    </body>
    <!-- [Body] end -->
   
</html>