{% load static %}
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5>Different line chart</h5>
        </div>
        <div class="card-body">
            <div id="line-chart-3"></div>
        </div>
    </div>
</div>

<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        "use strict";
        new ApexCharts(document.querySelector("#line-chart-3"), {
            chart: { height: 300, type: "line", zoom: { enabled: false } },
            dataLabels: { enabled: false },
            stroke: { width: [5, 7, 5], curve: "straight", dashArray: [0, 8, 5] },
            colors: ["#2CA87F", "#E58A00", "#DC2626"],
            series: [
                { name: "Session Duration", data: [45, 52, 38, 24, 33, 26, 21, 20, 6, 8, 15, 10] },
                { name: "Page Views", data: [35, 41, 62, 42, 13, 18, 29, 37, 36, 51, 32, 35] },
                { name: "Total Visits", data: [87, 57, 74, 99, 75, 38, 62, 47, 82, 56, 45, 47] }
            ],
            markers: { size: 0, hover: { sizeOffset: 6 } },
            xaxis: {
                categories: [
                    "01 Jan", "02 Jan", "03 Jan", "04 Jan", "05 Jan", "06 Jan",
                    "07 Jan", "08 Jan", "09 Jan", "10 Jan", "11 Jan", "12 Jan"
                ]
            },
            tooltip: {
                y: [
                    { title: { formatter: function (e) { return e + " (mins)"; } } },
                    { title: { formatter: function (e) { return e + " per session"; } } },
                    { title: { formatter: function (e) { return e; } } }
                ]
            },
            grid: { borderColor: "#f1f1f1" }
        }).render();
    });
</script>