{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- [Head] start -->
  <head>
    <title>Home | MoPD Dashboard</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="MoPD Dashboard"
    />
    <meta
      name="keywords"
      content="MoPD Dashboard"
    />
    <meta name="author" content="Phoenixcoded" />

    {% include 'dashboard/common/head.html' %}
  </head>
  <!-- [Head] end -->

  <body
    data-pc-preset="preset-1"
    data-pc-sidebar-caption="true"
    data-pc-layout="vertical"
    data-pc-direction="ltr"
    data-pc-theme_contrast=""
    data-pc-theme="light"
  >
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>

    <!-- [ Pre-loader ] End -->

    {% include 'dashboard/common/sidebar.html' %} 
    {% include 'dashboard/common/header.html' %}

    <div class="pc-container">
      <div class="pc-content" id="pc-content">
        <!-- [ Main Content ] start -->

        <!-- [ Main Content ] end -->
      </div>
    </div>

    {% include 'dashboard/common/js.html'%}
  </body>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
  <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>



  <script src="{% static 'dashboard/assets/js/components/components.js' %}"></script>
</html>
