{% load static %}
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="{% url "index" %}" class="b-brand text-primary">
                <img src="{% static 'dashboard/assets/images/user/logo.jpg' %}" class="user-avtar wid-45 rounded-circle"  alt="logo" />
            </a>
        </div>

        <div class="navbar-content">

            <div class="card pc-user-card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="{% static 'dashboard/assets/images/user/avatar-1.jpg' %}" alt="user-image"
                                class="user-avtar wid-45 rounded-circle" />
                        </div>
                        <div class="flex-grow-1 ms-3 me-2">
                            <h6 class="mb-0">{{ logged_in_user.first_name }} {{ logged_in_user.last_name }}</h6>
                        </div>                        
                        <a class="btn btn-icon btn-link-secondary avtar" data-bs-toggle="collapse"
                            href="#pc_sidebar_userlink"><svg class="pc-icon">
                                <use xlink:href="#custom-sort-outline"></use>
                            </svg></a>
                    </div>
                    <div class="collapse pc-user-links" id="pc_sidebar_userlink">
                        <div class="pt-3">
                            <a href="{% url "logout" %}"><i
                                    class="ti ti-power"></i> <span>Logout</span></a>
                        </div>
                    </div>
                </div>
            </div>

              <ul class="pc-navbar">

                  <li class="pc-item pc-caption">
                      <label>Dashboards</label>
                      <svg class="pc-icon">
                          <use xlink:href="#custom-presentation-chart"></use>
                      </svg>
                  </li>

                  
                  {% for i in dashboards %}
                  <li class="pc-item">
                      <a href="{% url "dashboard_detail" i.id %}" class="pc-link">
                          <span class="pc-micon">
                              <i class="fas fa-{{i.icon}}"></i> <!-- Replace 'fa-icons' with the actual icon name -->
                          </span>
                          <span class="pc-mtext">{{ i.title }}</span>
                      </a>
                  </li>
              {% endfor %}
              
                  


              </ul>


          </div>
      </div>
  </nav>
  <!-- [ Sidebar Menu ] end -->
  