{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DPMEs</title>
    <link />
    {% include 'user-admin/common/head.html' %}
  </head>
  <style>
  .card-custom {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-title {
    flex-grow: 1;
}
</style>




  <body class="hold-transition sidebar-mini layout-fixed">
    {% include 'user-admin/common/navbar.html'%}
    <div>{% include 'user-admin/common/sidebar.html' %}</div>

    <!--Body Start-->
    <div class="content-wrapper">
     
      <div class="content-header">
        <div class="container-fluid mt-2">
        
        
          <h6 class="text-secondary"> Dashboard Lists </h6>
          
          <div class="col-lg-7 mx-auto d-block">
            {% include 'includes/messages.html' %}
          </div>
      

        <div class="row mb-2">
            <div class="col-lg-12">
              <button
              class="btn btn-success float-end m-2" 
              data-bs-toggle="modal" 
              data-bs-target="#AddDashboard"
              data-bs-whatever="@mdo">
              <i class="fas fa-plus"></i> 
              Add Dashboard
            </button>
            </div>
            <table id="dashboardDataLists" class="table  bg-white table-sm  table-hover caption-top">
                <thead>
                  <tr style="background-color:  #9fdfa9;" >
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="p-5">
                  {% if dashboards %}
                  {% for dashboard in dashboards %}
                  <tr>
                    <td>{{count | add:forloop.counter}}</td>
                    <td class="p-2" id="dashboardTitle{{dashboard.id}}">{{dashboard.title}}</td>
                    <td id="dashboardDescription{{dashboard.id}}">{{dashboard.description}}</td>
                    <td>
                      <button class="btn btn-outline-info mt-2 btn-sm btn-edit" id="btnEditTable{{dashboard.id}}"
                        data-bs-toggle="modal" data-bs-target="#editDashboard" data-bs-whatever="@mdo" data-id={{dashboard.id}}
                        data-title="{{dashboard.title}}" data-description="{{dashboard.description}}">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button class="btn btn-outline-danger mt-2 btn-sm btn-delete" data-bs-toggle="modal"
                        data-bs-target="#deleteDashboardModal" data-bs-whatever="@mdo" data-id={{dashboard.id}}
                        data-name="{{dashboard.title}}">
                        <i class="fa fa-trash"></i>
                      </button>
                      <a  class="btn btn-outline-warning btn-sm mt-2" href="{% url "custom-dashboard-topic" dashboard.id %}"> <i class="fa fa-eye"></i> </a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center text-danger" colspan="9">No Data Found</td>
                  </tr>
                  {% endif %}
                </tbody>
              </table>
        
              <!-- Pagination -->
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pagination-outline justify-content-center">
                  {% if dashboards.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ dashboards.previous_page_number }}">Previous</a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                  </li>
                  {% endif %}
        
                  {% if dashboards.number|add:'-4' > 1 %}
                  <li class="page-item"><a class="page-link" href="?page={{ dashboards.number|add:'-5' }}">&hellip;</a></li>
                  {% endif %}
        
                  {% for i in dashboards.paginator.page_range %}
                  {% if dashboards.number == i %}
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">
                      {{ i }}
                      <span class="sr-only">(current)</span>
                    </span>
                  </li>
                  {% elif i > dashboards.number|add:'-5' and i < dashboards.number|add:'5' %} <li class="page-item"><a class="page-link"
                      href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
        
                    {% if dashboards.paginator.num_pages > dashboards.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?page={{ dashboards.number|add:'5' }}">&hellip;</a></li>
                    {% endif %}
        
                    {% if dashboards.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ dashboards.next_page_number }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                    </li>
                    {% endif %}
                </ul>
              </nav>
        </div>

        </div>
      </div>

    </div>



    
       <!--Update Modal-->
    <!-- Modal -->
    <div class="modal fade" id="editDashboard" tabindex="-1" aria-labelledby="editDashboardLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editDashboardLabel">Edit Dashboard</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="modalFormEditDashboard" method="post">
              {% csrf_token %}
              <div class="modal-body">
                <input id="id_id" type="hidden">
                {{form.as_p}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="saveDashboard" type="submit" class="btn btn-primary">Save changes</button>
                <button id="btnLoading" style="display: none;" class="btn btn-primary" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  
      <!--End Modal -->
  

    <!--Body End-->

      <!--Add  Modal-->
    <!-- Modal -->
    <div class="modal fade" id="AddDashboard" tabindex="-1" aria-labelledby="AddDashboardLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="AddDashboardLabel">Dashboard Information</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" name="addDashboard" enctype="multipart/form-data">
              <div id="detailModalBody" class="modal-body">
                {% csrf_token %}
                <div class="modal-body">
                  <input id="id_id" type="hidden">
                  {{form.as_p}}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="addDashboard" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--End Modal -->

     <!--Delete  Modal-->
    <!-- Modal -->
    <div class="modal fade" id="deleteDashboardModal" tabindex="-1" aria-labelledby="deleteDashboardModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteDashboardModalLabel">Delete Dashboard</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="h4 fw-normal" id="deleteDashboard"></p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="#" id="deleteDashboardAnchor" type="submit" class="btn btn-danger">Delete</a>
          </div>

        </div>
      </div>
    </div>
    <!--End Modal -->





    {% include 'user-admin/common/footer.html'%}
    {% include 'user-admin/common/highchart.html'%}

    <!--Chart -->
    <script src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-knob/jquery.knob.min.js' %}"></script>
    <script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/summernote/summernote-bs4.min.js' %}"></script>
    <script src="{% static 'assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>


    

    {% include 'user-admin/common/footer_js.html'%}
  </body>

  <script>
    showToast = (title, body, cssClass) => {
        $.toast({
          heading: title,
          text: body,
          showHideTransition: 'slide',
          icon: cssClass,
          position: 'top-right',
        })
      }


      $(".btn-delete").on('click', function () {

        const buttonData = $(this).data()
        $("#deleteDashboardAnchor").attr("href", `/user-admin/delete_dashboard/${buttonData.id}`)
        $("#deleteDashboard").html(`Are you sure you want to delete <div> <code> ${buttonData.name}</code>? </div> `)
      })



    $(".btn-edit").on('click', function () {
        const buttonData = $(this).data()
         $("#id_id").val(buttonData.id)
        $("#id_title").val(buttonData.title)
        $("#id_description").val(buttonData.description)
      })
  
     
  
  
      $("#modalFormEditDashboard").on('submit', function (e) {
        e.preventDefault()
        let title = $("#id_title").val()
        let description = $("#id_description").val()
        let id = $("#id_id").val()
  
     
  
        
  
        $.ajax({
          type: 'POST',
          url: `{% url "edit_dashboard" %}`,
          data: {
            'id': id,
            'title': title,
            'description': description,
            csrfmiddlewaretoken: '{{csrf_token}}'
          },
          beforeSend: function () {
            $('#saveDashboard').hide()
            $("#btnLoading").show();
          },
          // hides the loader after completion of request, whether successfull or failor.             
          complete: function () {
            //Show save button finished 
            $('#saveDashboard').show()
            $("#btnLoading").hide();
            console.log("Done")
          },
          success: function (response) {
            if (response.success) {
  
              //show succuss message
              showToast('&#128515 Hello, User', 'Successfully Updated', 'success')
              $('#editDashboard').modal('hide'); //Hide Modal
              let htmlTitle = $('#dashboardTitle' + id)
              let htmlDescription = $('#dashboardDescription' + id)
            
  
              //Update Table Value
              htmlTitle.text(title)
              htmlDescription.text(description)
              
              
             
  
              //update Button Value
              buttonHtml.data("title", title);
  
            } else {
              //show succuss message
              showToast('&#128532 Hello User', 'Failed to update Dashboard.', 'error')
            }
          },
          error: function () {
            //show succuss message
            showToast('&#128532 Hello User', 'Failed to update Dashboard.', 'error')
          }
        })
      })
  </script>
</html>
