{% load static %}
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5>Area chart</h5>
        </div>
        <div class="card-body">
            <div id="area-chart-1"></div>
        </div>
    </div>
</div>

<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        "use strict";
        new ApexCharts(document.querySelector("#area-chart-1"), {
            chart: { height: 350, type: "area", toolbar: { show: false } },
            dataLabels: { enabled: false },
            stroke: { curve: "smooth" },
            colors: ["#E58A00", "#DC2626"],
            series: [
                { name: "series1", data: [31, 40, 28, 51, 42, 109, 100] },
                { name: "series2", data: [11, 32, 45, 32, 34, 52, 41] }
            ],
            xaxis: {
                type: "datetime",
                categories: [
                    "2018-09-19T00:00:00",
                    "2018-09-19T01:30:00",
                    "2018-09-19T02:30:00",
                    "2018-09-19T03:30:00",
                    "2018-09-19T04:30:00",
                    "2018-09-19T05:30:00",
                    "2018-09-19T06:30:00"
                ]
            },
            tooltip: { x: { format: "dd/MM/yy HH:mm" } }
        }).render();
    });
</script>