{% load static %}

<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5>RadialBar Charts</h5>
        </div>
        <div class="card-body">
            <div id="radialBar-chart-1"></div>
        </div>
    </div>
</div>



<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

<script>
    $(document).ready(()=>{
        new ApexCharts(document.querySelector("#radialBar-chart-1"), {
      chart: { height: 350, type: "radialBar" },
      plotOptions: { radialBar: { hollow: { size: "70%" } } },
      colors: ["#4680FF"],
      series: [70],
      labels: ["Cricket"],
    }).render()
    })
</script>