{% load static %}
<div class="col-lg-6">
    <div class="card">
        <div class="card-header">
            <h5>RadialBar Charts Custom Angle</h5>
        </div>
        <div class="card-body">
            <div id="radialBar-chart-2"></div>
        </div>
    </div>
</div>


<script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

<script>
    $(document).ready(function(){
        new ApexCharts(document.querySelector("#radialBar-chart-1"), {
      chart: { height: 350, type: "radialBar" },
      plotOptions: { radialBar: { hollow: { size: "70%" } } },
      colors: ["#4680FF"],
      series: [70],
      labels: ["Cricket"],
    }).render(),
    (e = {
      chart: { height: 350, type: "radialBar" },
      plotOptions: {
        radialBar: {
          offsetY: -30,
          startAngle: 0,
          endAngle: 270,
          hollow: {
            margin: 5,
            size: "30%",
            background: "transparent",
            image: void 0,
          },
          dataLabels: { name: { show: !1 }, value: { show: !1 } },
        },
      },
      colors: ["#4680FF", "#2CA87F", "#E58A00", "#DC2626"],
      series: [76, 67, 61, 90],
      labels: ["Vimeo", "Messenger", "Facebook", "LinkedIn"],
      legend: {
        show: !0,
        floating: !0,
        fontSize: "14px",
        position: "left",
        offsetX: 0,
        offsetY: 0,
        labels: { useSeriesColors: !0 },
        markers: { size: 0 },
        formatter: function (e, a) {
          return e + ":  " + a.w.globals.series[a.seriesIndex];
        },
        itemMargin: { horizontal: 1 },
      },
      responsive: [{ breakpoint: 480, options: { legend: { show: !1 } } }],
    }),

    
    new ApexCharts(document.querySelector("#radialBar-chart-2"), e).render()
    })
</script>