<div class="col-span-12 md:col-span-6">
    <div class="card">
        <div class="card-header">
            <h5>Area chart</h5>
        </div>
        <div class="card-body">
            <div class="toolbar btn-group"><button id="one_month"
                    class="btn btn-sm btn-outline-primary">1M</button> <button id="six_months"
                    class="btn btn-sm btn-outline-primary">6M</button> <button id="one_year"
                    class="btn btn-sm btn-outline-primary active">1Y</button> <button id="ytd"
                    class="btn btn-sm btn-outline-primary">YTD</button> <button id="all"
                    class="btn btn-sm btn-outline-primary">ALL</button></div>
            <div id="area-chart-2"></div>
        </div>
    </div>
</div>