{% load static %}
<div class="col-span-12" bis_skin_checked="1">
    <div class="card welcome-banner bg-primary-800" bis_skin_checked="1">
        <div class="absolute opacity-50 inset-0 z-10 bg-right-bottom bg-[length:100%] bg-no-repeat bg-[url('../images/widget/img-dropbox-bg.svg')]"
            bis_skin_checked="1"></div>
        <div class="card-body relative z-20" bis_skin_checked="1">
            <div class="grid grid-cols-12 gap-6" bis_skin_checked="1">
                <div class="col-span-12 sm:col-span-6" bis_skin_checked="1">
                    <div class="p-4" bis_skin_checked="1">
                        <h2 class="text-white">Explore Redesigned Able Pro</h2>
                        <p class="text-white my-5">The Brand new User Interface with power of Bootstrap Components.
                            Explore the Endless possibilities with Able Pro.</p><a href="https://1.envato.market/zNkqj6"
                            class="btn text-white border-white">Exclusive on Themeforest</a>
                    </div>
                </div>
                <div class="col-span-12 sm:col-span-6 text-center" bis_skin_checked="1">
                    <img src="{% static 'dashboard/assets/images/widget/welcome-banner.png' %}" alt="img" class="img-fluid w-[200px] max-w-full mx-auto"></div>
            </div>
        </div>
    </div>
</div>