<div class="col-xl-3 col-md-6">
    <div class="card">
      <div class="card-body pb-0">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Payment History</h5><a class="avtar avtar-s btn-link-secondary"><i
              class="ti ti-plus f-18"></i></a>
        </div>
      </div>
      <ul class="list-group list-group-flush border-top-0">
        <li class="list-group-item">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <div class="avtar avtar-s bg-light-secondary"><img src="../assets/images/widget/img-paypal.png"
                  alt="img" class="img-fluid"></div>
            </div>
            <div class="flex-grow-1 mx-2">
              <p class="mb-1">Paypal</p>
              <h6 class="mb-0">+210,000 <small class="text-success">+ 30.6%</small></h6>
            </div>
            <div class="flex-shrink-0">
              <div class="dropdown"><a class="avtar avtar-s btn-link-secondary dropdown-toggle arrow-none"
                  href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="ti ti-dots-vertical f-18"></i></a>
                <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Name</a> <a
                    class="dropdown-item" href="#">Date</a> <a class="dropdown-item" href="#">Ratting</a> <a
                    class="dropdown-item" href="#">Unread</a></div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <div class="avtar avtar-s bg-light-secondary"><img src="../assets/images/widget/img-gpay.png"
                  alt="img" class="img-fluid"></div>
            </div>
            <div class="flex-grow-1 mx-2">
              <p class="mb-1">Gpay</p>
              <h6 class="mb-0">-$2,000 <small class="text-danger">- 30.6%</small></h6>
            </div>
            <div class="flex-shrink-0">
              <div class="dropdown"><a class="avtar avtar-s btn-link-secondary dropdown-toggle arrow-none"
                  href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="ti ti-dots-vertical f-18"></i></a>
                <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Name</a> <a
                    class="dropdown-item" href="#">Date</a> <a class="dropdown-item" href="#">Ratting</a> <a
                    class="dropdown-item" href="#">Unread</a></div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <div class="avtar avtar-s bg-light-secondary"><img src="../assets/images/widget/img-phonepay.png"
                  alt="img" class="img-fluid"></div>
            </div>
            <div class="flex-grow-1 mx-2">
              <p class="mb-1">Phone Pay</p>
              <h6 class="mb-0">-$2,000 <small class="text-danger">- 30.6%</small></h6>
            </div>
            <div class="flex-shrink-0">
              <div class="dropdown"><a class="avtar avtar-s btn-link-secondary dropdown-toggle arrow-none"
                  href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                    class="ti ti-dots-vertical f-18"></i></a>
                <div class="dropdown-menu dropdown-menu-end"><a class="dropdown-item" href="#">Name</a> <a
                    class="dropdown-item" href="#">Date</a> <a class="dropdown-item" href="#">Ratting</a> <a
                    class="dropdown-item" href="#">Unread</a></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-footer">
        <div class="d-grid"><button class="btn btn-outline-secondary">View all</button></div>
      </div>
    </div>
  </div>